<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('links')-%>
        <title>Movie Results</title>
</head>

<body>
    <div id="pageContainer">
        <div id="resultsContent">
            <a name="top"></a>
            <%-include('nav')-%>
                <Header>
                    <h1>Movie results for "<%=search%>"</h1>
                    <form action="/search" method="GET" onsubmit="return validate()" autocomplete="off">
                        <input name="q" id="ResultssearchForm" type="text" placeholder="Movie Title">
                        <button id="formButton">Search</button>
                    </form>
                </Header>
                <section id="movieContainer">
                    <%if(data==='False' ){%>
                        <h1 id="wasNotFound">The Movie "<%=search%>" was not found, please try again...</h1>
                        <%}else{%>
                            <%data.forEach(function(d){%>
                                <div>
                                    <h3>
                                        <%=d.Title%>
                                    </h3>
                                    <img class="size" src="<%=d.Poster%>" alt="Img Not Found">
                                    <p>
                                        <%=d.Year%>
                                    </p>
                                    <form method="GET" action="/search/movieDetails/<%=d.imdbID%>">
                                        <button>More Info</button>
                                    </form>
                                </div>
                                <%})%>
                                    <%}%>
                </section>
                <%-include('minFooter')-%>
        </div>
        <script src="/scripts/validateForms.js"></script>
</body>

</html>